.about {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 21px;
  }

  &__desc {
    max-width: 1235px;
    margin: 0;
    margin-bottom: 50px;
    font-weight: var(--regular);
  }

  &__content {
    display: flex;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: calc((100% - 32px) / 2);

    &:first-child {
      margin-right: 32px;
    }

    .about .about__item {
      &:first-child {
        margin-bottom: 32px;
      }
    }
  }

  &__item {
    flex: 1;
  }
}

.card {
  padding: 65px 115px 65px 299px;
  border-radius: var(--border-radius-big);
  border: var(--light-gray-color) solid 1px;
  background-repeat: no-repeat;
  background-position: 8.5% 50%;

  &__title {
    margin: 0;
    margin-bottom: 6px;
    font-size: var(--big-fs);
    line-height: 29.2px;
    font-weight: var(--bold);
  }

  &__desc {
    max-width: 450px;
    margin: 0;
    font-weight: var(--regular);
  }
}

.card-first {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-radius: var(--border-radius-big);
  background-image: url("img/about-img.jpg");
  background-repeat: no-repeat;
  background-color: var(--orange-color);
  background-size: cover;
  background-position: center;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background-color: var(--black-color);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.5;
      border-radius: var(--border-radius-big);
      z-index: 1;
    }
  }

  &__desc {
    max-width: 433px;
    margin: 0;
    margin-right: 30px;
    color: var(--white-color);
    font-weight: var(--bold);
    z-index: 2;
  }

  &__btn {
    max-height: 60px;
    padding: 18px 35px;
    color: var(--white-color);
    border: var(--orange-color) solid 3px;
    border-radius: var(--border-radius-small);
    font-weight: var(--bold);
    line-height: 19.5px;
    background-color: var(--transparent-color);
    z-index: 2;
    transition: border 0.3s ease, background-color 0.2s ease;

    &:focus-visible {
      color: var(--white-color);
      border: var(--orange-color) solid 3px;
      background-color: var(--orange-color);
      outline: none;
    }

    &:active {
      color: var(--white-color);
      border: var(--dark-orange-color) solid 3px;
      background-color: var(--dark-orange-color);
    }
  }
}

.card-second {
  background-image: url("img/card-second-icon.svg");
}

.card-third {
  background-image: url("img/card-third-icon.svg");
}

@media (max-width: 1440px) {
  .about {
    margin-bottom: 80px;

    &__desc {
      margin-bottom: 60px;
    }

    &__content {
      display: block;
    }

    &__block {
      width: 100%;

      &:first-child {
        margin-bottom: 32px;
        margin-right: 0px;
      }

      &:last-child {
        flex-direction: row;
      }
    }

    &__item {
      &:first-child {
        margin-bottom: 0;
        margin-right: 32px;
      }
    }
  }

  .card {
    padding: 65px 90px 65px 270px;
    background-position: 10.3% 50%;
    background-size: 150px 135px;

    &__title {
      max-width: 452px;
    }
  }

  .card-first {
    min-height: 640px;
  }
}

@media (max-width: 1280px) {
  .about {
    &__block {
      &:last-child {
        flex-direction: column;
      }
    }

    &__item {
      &:first-child {
        margin-bottom: 32px;
        margin-right: 0;
      }
    }
  }

  .card {
    padding: 65px 153px 65px 316px;
    background-size: 165px 140px;
    background-position: 8.3% 50%;
  }
}

@media (max-width: 1024px) {
  .card-first {
    background-image: url("img/about-img-1024.jpg");
  }

  .card {
    padding: 65px 95px 65px 316px;
    background-size: 190px 165px;
    background-position: 10.3% 50%;
  }
}

@media (max-width: 800px) {
  .about {
    &__desc {
      margin-bottom: 55px;
    }
  }

  .card {
    padding: 35px 44px 35px 169px;
    border-radius: 24px;
    background-position: 7% 50%;
    background-size: 114px 99px;
  }

  .card-first {
    min-height: 650px;
    border-radius: 24px;
    background-image: url("img/about-img-768.jpg");

    &__wrapper {
      padding: 34px 40px;

      &::before {
        border-radius: 24px;
      }
    }

    &__desc {
      max-width: 366px;
      margin-right: 6px;
    }
  }
}

@media (max-width: 576px) {
  :root {
    --container-padding: 15px;
  }

  .section__title {
    font-size: var(--big-fs);
    font-weight: var(--regular);
  }

  .about {
    margin-bottom: 62px;

    &__title {
      margin-bottom: 19px;
      line-height: 29.26px;
    }

    &__desc {
      margin-bottom: 14px;
      font-size: var(--small-fs);
      line-height: 28px;
    }

    &__content {
      display: block;
    }

    &__block {
      width: 100%;

      &:first-child {
        margin-bottom: 32px;
        margin-right: 0px;
      }
    }
  }

  .card-first {
    min-height: auto;
    padding: 208px 0 0 0;
    border-radius: var(--border-radius-small);
    background-color: var(--orange-color);
    background-size: cover;
    background-position: top center;

    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
      padding: 28px 34px;
    }

    &__desc {
      max-width: 366px;
      margin-right: 0;
      margin-bottom: 12px;
      font-weight: var(--regular);
      font-size: var(--small-fs);
      line-height: 28px;
    }

    &__btn {
      padding: 10px 42px;
      border-width: 2px;
      font-size: 12px;
      line-height: 14.63px;
      border-radius: var(--border-radius-very-small);
    }
  }

  .card {
    padding: 61px 0 0 0;
    border-radius: 0;
    border: none;
    background-position: top left;
    background-size: auto;

    &__title {
      margin-bottom: 4px;
      font-weight: var(--medium);
      font-size: var(--medium-fs);
      line-height: 21.94px;
    }

    &__desc {
      font-size: var(--small-fs);
      line-height: 28px;
    }
  }

  .card-second {
    background-image: url("img/card-second-icon-320.svg");
  }

  .card-third {
    background-image: url("img/card-third-icon-320.svg");
  }
}

@media (max-width: 320px) {
  .card-first {
    min-height: auto;
    padding: 208px 0 0 0;
    background-image: url("img/about-img-320.jpg");
    background-color: var(--transparent-color);
    background-size: contain;

    &__wrapper {
      display: flex;
      padding: 0;

      &::before {
        opacity: 0;
      }
    }

    &__desc {
      color: var(--black-color);
    }

    &__btn {
      color: var(--orange-color);
    }
  }
}
