@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MontserratRegular'),
    url('fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
    url('fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MontserratMedium'),
    url('fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'),
    url('fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('MontserratSemiBold'),
    url('fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'),
    url('fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('MontserratBold'),
    url('fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'),
    url('fonts/montserrat-v25-latin_cyrillic-700.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('MontserratExtraBold'),
    url('fonts/montserrat-v25-latin_cyrillic-800.woff2') format('woff2'),
    url('fonts/montserrat-v25-latin_cyrillic-800.woff') format('woff');
}
