:root {
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --big-fs: 24px;
  --medium-fs: 18px;
  --default-fs: 16px;
  --small-fs: 14px;
  --default-lh: 32px;
  --container-max-width: 1870px;
  --container-padding: 50px;
  --white-color: #FFF;
  --black-color: #000;
  --gray-color: #666;
  --orange-color: #FF9900;
  --light-orange-color: #FFB84D;
  --dark-orange-color: #E1670E;
  --light-gray-color: #CACACA;
  --light-green-color: #97EE3F;
  --transparent-color: transparent;
  --title-fs: 48px;
  --border-radius-very-small: 8px;
  --border-radius-small: 16px;
  --border-radius-big: 32px;

  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bullet-inactive-color: #cacaca;
  --swiper-pagination-bullet-inactive-opacity: .8;
}
