@import "normalize.css";
@import "root";
@import "fonts";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--regular);
  font-size: var(--default-fs);
  line-height: var(--default-lh);
  background-color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: var(--container-max-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.btn {
  padding: 0;
  cursor: pointer;
}

.stop-scroll {
  overflow: hidden;
}

.section {
  &__title {
    margin: 0;
    font-size: var(--title-fs);
    line-height: 58.5px;
    font-weight: var(--regular);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@import "any-hover";
@import "header";
@import "hero";
@import "about";
@import "work";
@import "faq";
@import "footer";

